#home{
    background-color: blue;
    position: absolute;
    width: 144rem;
    height: 82rem;
    margin-top: -8px;
    margin-bottom:-8px ;
    margin-left:-8px ;
    margin-right:-8px ;
}

#hn img{
    margin-left: -3rem;
    margin-bottom:-3rem ;
   
}
/* #hn p{


} */
#hn{
    margin-left: 4rem;
    margin-bottom: -3rem;
}

#text{
    text-align: left;
    font-size: 10px;
    
}


#nave{
    margin-top: -5rem;
    /* margin-bottom: -1rem; */
    margin-left: 38rem;
    
}
