body {
    background-image: linear-gradient(to right,  rgb(9, 5, 83),  rgb(43, 4, 165));
}

.content{
    position: absolute;

    margin-left: 1rem;
    font-family: "Poppins";
}

#hn{
    display: flex;
    padding-top: 5rem;
} 
#hn p{
    margin-left: 0.8rem ;
    font-size: 20px;
    color: beige;
} 

#text{
    
    width: 40rem;
    text-align: left;
    
}
#text > h1{
    font-size: 36px;
    color: beige;
}
#text > h2{
    font-size: 24px;
    color: beige;
}
.content button{
    margin-top: 2rem;
    border: none;
    border-radius: 1rem;
    width: 20.7rem;
    height: 5.3rem;
}


#nave{
   
    /* margin-bottom: -1rem; */
    margin-left: 50rem;
    
}
