body {
margin: 0;
padding: 0;
box-sizing: border-box;
background-image: linear-gradient(to right,  rgb(9, 5, 83),  rgb(43, 4, 165));
    max-width: min(100rem, 90%);

}

.content{
    position: absolute;
 
    margin-left: 2.5rem;
    font-family: 'Poppins', sans-serif;
    
}

#hand{
    display: flex;
    padding-top: 5rem;
} 
#hand p{
    margin-left: 0.8rem ;
    font-size: clamp(0.5em, 1vw, 20px);
    color: beige;
} 

#text{
    max-width: min(29rem, 40rem);
    text-align: left;
    

}

#text > h1{
    
    font-weight: 600;
    font-size: clamp(1em, 2vw, 36px);
    
    color: beige;
    line-height: 35px;
    
    
}
#text > h2{
    font-weight: 400;
    font-size: clamp(0.5em, 1.2vw, 24px);
    color: beige;
    line-height: 30px;
}
.content button{
    
   align-items: center;
    margin-top: 2rem;
    border: none;
    border-radius: 1rem;
    width: 20.7rem;
    height: 5.3rem;
}

.content button p{
    
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 54px;
margin-top: 1rem;
/* display: flex; */

text-align: center;

color: #590CE8;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



#nave{
   
    
    
    margin-left: min(33rem, 60rem);
    
    
}
#nave img{
    width: 24rem;
    height: 23rem;
    
}

.titulo-subtitulo-2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: beige;
    margin-left: 10rem;
    margin-right: 10rem;
}